section.clients
  background: $extralight
  .section-headline
    margin-top: 0

  .client
    width: 100%
    text-align: center
    
    img
      width: 60%
    
  .client.first
    text-align: left

  .client.last
    text-align: right