.client-logos
  width:100%
  max-width:50em
  margin:5em auto 3em auto
  height:90px
  
.client-logo
  width:33%
  padding:1em
  float:left
  text-align:center
  height:100%
  
  .vertical-helper
    display:inline-block
    height:100%
    vertical-align: middle
    
  img
    border:none
    width:75%
    filter: grayscale(1)
    display:inline-block
    vertical-align: middle