section.clients
  background: $extralight
  .section-headline
    margin-top: 0

  .client
    width: 100%
    text-align: center
    
    img
      width: 50%
    
  .client.first
    text-align: center

  .client.last
    text-align: center