@import 'variables'

section.intro
  background: url('../images/mapbg.jpg') no-repeat center
  background-size: cover
  color: $white
  
  .intro-headline
    line-height:1.1
    font-size:1.8em 
    text-transform: uppercase
    font-weight: 900
    
    .hightlight
      color:$highlight
    
  .intro-text
    font-size:1em
    line-height:1.5
    color: #e2e2e2
    
  .intro-box
    padding: .5em