@import url('http://fonts.googleapis.com/css?family=Lato:400,900');
@import 'grid.css'
@import '../../node_modules/leaflet/dist/leaflet.css'
@import 'font-awesome.css'
@import 'normalize'
@import 'helper'
@import 'variables'
@import 'navigation'
@import 'intro'
@import 'projects'
@import 'clients'
@import 'team'
@import 'contact'
@import 'teaser'
@import 'map'
@import 'footer'

html
button
input
select
textarea 
  color: $black

body,html
  width: 100%
  font-family: $sans
  -webkit-font-smoothing: antialiased

a
a:visited
  color: $black
  text-decoration: none

a:hover
  color: lighten($black,10%)
  
body
  background:$white
  color: $black
  font-size: 16px
  line-height: 1.4

.highlight
  color: $highlight

.container
  max-width: 70em
  margin: 0 auto
  width: 100%
  
*[class*="col-"]
  padding: .5em


section.dark 
  background: #1f1f1f
  color: #fff

section
  width: 100%
  position: relative
  padding: 2em 0
    
  .section-headline
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 0px
    font-size:1.8em
    margin:1em 0 1.5em 0
    color: $black
    
  .headline-wrapper
    margin: 1.5em 0 2.5em 0
    
    .section-headline
      float: left
      margin: 0
      
    .extra-btn
      float: right

.btn
  background: $greyBtn
  border-radius: 0
  color: $white
  font-size: 1em
  font-weight: 900
  padding: .4em 2em
  text-transform: uppercase
  text-align: center
  transition: box-shadow .15s
  text-decoration: none
  display:block
  border: none
  border-bottom: 5px solid darken($greyBtn, 20)
  transition: background .5s
  
  &:hover
    border-bottom-color: darken($greyBtn, 25);
    background: darken($greyBtn, 10);
    
  &:active
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.2)
    
  &:focus
    outline: none
    
  i
    margin-right: .3em
    font-size: 1em  
    
.btn.yellow
  color: $black
  background: $highlight
  border-bottom-color: #BB9100
  
  &:hover
    border-bottom-color: darken($highlight, 25);
    

@import 'media-queries'