@import url('http://fonts.googleapis.com/css?family=Lato:400,900');
@import 'grid.css'
@import 'font-awesome.css'
@import 'normalize'
@import 'helper'
@import 'variables'
@import 'navigation'
@import 'intro'
@import 'projects'
@import 'clients'
@import 'team'
@import 'contact'
@import 'footer'

html
button
input
select
textarea 
  color: $black

body,html
  width: 100%
  font-family: $sans
  -webkit-font-smoothing: antialiased

a
a:visited
  color: $black
  text-decoration: none

a:hover
  color: lighten($black,10%)
  
body
  background:$white
  color: $black
  font-size: 16px
  line-height: 1.4

.highlight
  color: $highlight

.container
  max-width: 70em
  margin: 0 auto
  width: 100%
  
*[class*="col-"]
  padding: .5em


section
  width: 100%
  position: relative
  padding: 2em 0
    
  .section-headline
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 0px
    font-size:1.8em
    margin:1em 0 1.5em 0
    color: $black
  .headline-wrapper
    margin: 1.5em 0 2.5em 0
    .section-headline
      float: left
      margin: 0
    button
      float: right

.btn
  background: $white
  border: 1px solid $grey
  border-radius: 0
  color: $white
  font-size: .9em
  font-weight: 900
  padding: .4em 1em
  text-transform: uppercase
  text-align: center
  transition: background .3s, color .3s, border-color .3s
  text-decoration: none
  display:block
  border-bottom: 5px solid $grey
.btn.yellow
  background: $highlight
.btn.grey
  background: $grey
  border-bottom-color: darken($grey, 20);
    
  &:focus
    outline: none
    
  i
    margin-right: .3em
    font-size: 1em
        
@import 'media-queries'