section.map
  height:350px
  padding: 0

  #map
    height:100%
    pointer-events:none

  img
    filter: grayscale(1) contrast(1.15) brightness(.7)
    
  .map-label
    opacity:.8
    margin-left:0 !important
    font-weight:bold
    text-transform: uppercase