html.portfolio, body.portfolio
  height: auto
  overflow: visible
  min-height: 100%

body.portfolio
  background: #f5f5f5

  span.port
    margin-left: 15px
    border-left: 1px solid #777
    text-transform: none
    padding-left: 15px
    color: #777

  section.intro
    background-image: none
    padding: 0
    position: fixed
    display: block
    z-index: 1000
    nav
      display: block
      position: relative
      border: none
      .nav-content
        border: none !important
        
  section.projects
    padding-top: 80px