@import 'variables'

section.team
  background: $black
  color: $white
  .section-headline
    color:$white

.member
  margin-bottom:4em
  
  .member-image
    float:left
    width:150px
    max-width:50%
    margin-right:1em
    
  .member-name
    font-weight:bold
    font-size:22px  
  
  .member-jobtitle
    margin:.25em 0 1em 0

  .member-quote
    max-width:800px