@import 'variables'

section.team
  background: $white
  padding-bottom: 0
  
  .section-headline
    color: $black

  .col-6-12
    padding-bottom: 0
    text-align: center

  .member
    text-align: center
    
  .member-image
    max-width: 100%
    width: 300px
    
section.team-details
  background: $black
  margin-top: -50px
  padding: 1em 0
  
  .member-details
    text-align: center
  
  .member-name
    color: $white
    font-size: 1.4em
    text-transform: uppercase
    margin: 0
  
  .member-pos
    color: $highlight
    margin: .3em 0
    
  .member-quote
    color: $white
    max-width: 390px
    margin: 1em auto