section.teaser 
  padding: 3em 0

.teaser-wrapper
  text-align:center
  margin:0 auto
  max-width:25em
  
  .teaser-headline 
    font-size: 1.8em
    text-transform: uppercase
    font-weight:bold
    
  .teaser-text
    font-size:.95em
    margin-top:1em
    
  .btn 
    display:inline-block
    margin-top:2em
    width:10em