$background = #fefefe
$black = #1f1f1f
$grey = #777
$white = #fff
$lightgrey = #eee
$extralight = #f5f5f5
$red = #DD2C00
$twitter = #55ACEE
$highlight = #FFDF29

$raleway = Arial, sans-serif
$sans = Arial, sans-serif