$background = #fefefe
$black = #1f1f1f
$grey = #777
$white = #fff
$lightgrey = #eee
$extralight = #f5f5f5
$black = #222
$red = #DD2C00
$twitter = #55ACEE
$highlight = #FFD00E
$greyBtn = #989898

$raleway = 'Lato', 'Helvetica', 'Helvetica neue', sans-serif
$sans = 'Lato', 'Helvetica', 'Helvetica neue', sans-serif